{
  "presets": [
    "react",
    "latest",
    ["env", {
      "targets": {
        "browsers": [
          "> 5%",
          "last 2 versions"
        ]
      }
    }],
    "stage-0"
  ],
  "plugins": [
    "transform-runtime"
  ]
}
