{
  "extends": [
    "standard",
    "plugin:react/recommended"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "prefer-const": 2
  },
  "plugins": [
    "react"
  ],
  "globals": {
    "$_ENV": true
  }
}
