language: node_js
node_js:
- '8'
cache:
  directories:
  - node_modules
  yarn: true
notifications:
  email: false
branches:
  only:
  - master
  - /^greenkeeper/.*$/
notifications:
  slack:
    secure: "$SLACK_TOKEN"
deploy:
  provider: heroku
  api_key:
    secure: "$HEROKU_API_KEY"
  app:
    master: calltocode
