[Unit]
Description=test.calltocode.org startup script

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/root/workspace/calltocode.org/deploy/run.sh start
ExecStop=/root/workspace/calltocode.org/deploy/run.sh stop
Type=oneshot
RemainAfterExit=yes
