@import '../../scss/partials/partials';

.header {
  width: 100%;
  margin-bottom: 2px;

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    top: 64px;
    left: 0;
    height: 2px;
    background: #F9F9F9;
  }
}

.button {
  &.active, &:active {
    @extend %buttonActive;
  }

  &:hover {
    @extend %hover;
  }
}

.flex {
  flex: 1;
}
