@import '../../scss/partials/partials';

.headerRoot {
  height: 128px;
  margin-bottom: 2px;
  margin-left: calc((100vw - 1060px) / -2);
  width: calc(100vw - 100px);

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    top: 128px;
    left: 0;
    height: 2px;
    background: #F9F9F9;
  }
}

.flex {
  flex: 1;
}

.button {
  margin-left: 40px;
  color: #ed4b30;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2.3px;
  padding-bottom: 5px;
  border-bottom: solid 3px transparent;

  &.active, &:active, &:hover {
    border-bottom-color: #ed4b30;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.applicationBadgeText {
  padding: 0;
}

.navLogo {
  height: 32px;
}

a.navButton {
  background: #ed4b30;
  border-radius: 49.5px;
  margin-left: 40px;
  padding: 13px 28px;

  &:active,
  &:focus,
  &:hover {
    background: #ed4b30;
  }

  span {
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 2.3px;
  }
}
