@import '../../scss/partials/partials';

.headerRoot {
  width: 100%;
  margin-bottom: 2px;

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    top: 64px;
    left: 0;
    height: 2px;
    background: #F9F9F9;
  }
}

.flex {
  flex: 1;
}

.button {
  padding: 10px;
  margin-left: 10px;
  color: dimgray;

  &.active, &:active {
    @extend %buttonActive;
  }

  &:hover {
    @extend %hover;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}
