@import '../../scss/partials/partials';
@import '../../scss/elements/form';

.form {
  @extend %form;
}

.formHeading {
  grid-column: 1 / 1;
  grid-row: 1;
}

.inputImageUpload {
  grid-column: 1 / 1;
  grid-row: 2;
}

.inputProjectName {
  @extend %fieldText;
  border: none;
  border-bottom: 1px solid $inputsBorderColor;
  grid-column: 1 / 1;
  grid-row: 3;
}

.buttonSubmit {
  @extend %buttonSubmit;
  grid-column: 1 / 1;
  grid-row: 8;
}

.errorContent {
  grid-row: 9;
  grid-column: 1 / 1;
  font-size: 1rem;
  color: $errorColor;
}
