@import '../../scss/partials/partials';
@import '../../scss/elements/form';

.form {
  @extend %form;

  input:focus {
    outline: none;
  }
}

.h1 {
  grid-column: 1 / 1;
  grid-row: 1;
}

.inputEmailContainer {
  position: relative;
  grid-column: 1 / 1;
  grid-row: 2;
  overflow-x: hidden;

  .tick,
  .cross {
    position: absolute;
    right: 0;
    top: 12.5px;
  }
}

.inputPasswordContainer {
  position: relative;
  grid-column: 1 / 1;
  grid-row: 4;
  overflow-x: hidden;
}

.inputEmail,
.inputPassword {
  @extend %fieldText;
  width: 100%;
  border: none;
  border-bottom: 1px solid $inputsBorderColor;

  &.error {
    border-bottom: 1px solid $errorColor;
  }
  &.valid {
    border-bottom: 1px solid $validInputColor;
  }
}

.inputEmailError {
  position: fixed;
  margin-top: 5px;
  color: $errorColor;
  font-size: 12px;
}

.inputCheckboxContainer {
  @extend %checkboxContainer;
  grid-column: 1 / 1;
  grid-row: 5;
}

.inputIsOrganization {
  @extend %checkbox;
}

.inputOrganizationName {
  @extend %fieldText;
  grid-column: 1 / 1;
  grid-row: 6;
  border: none;
  border-bottom: 1px solid $inputsBorderColor;
}

.inputOrganizationURL {
  @extend %fieldText;
  grid-column: 1 / 1;
  grid-row: 7;
  border: none;
  border-bottom: 1px solid $inputsBorderColor;
}

.buttonSubmit {
  @extend %buttonSubmit;
  grid-column: 1 / 1;
  grid-row: 6;
}

.buttonSubmitMoved {
  @extend %buttonSubmit;
  grid-column: 1 / 1;
  grid-row: 9;
}

.tick:before {
  content: "\2713 ";
  color: $validInputColor;
}

.cross:before {
  content: "\2717 ";
  color: $errorColor;
}
