@import '../../scss/partials/_partials';
@import '../../scss/elements/_form';

.dropzone {
  @extend %dropzone;
}

.dropzoneInterior {
  position: relative;
  top: 50%;
  text-align: center;
  @include transform(translate(0%, -50%));
}

.image {
  width: 100%;
  height: 100%;
}

.uploadIcon {
  width: 50px !important;
  height: 50px !important;
}

.uploadText {
  font-size: 18px;
  line-height: 1.4em;
}

.accept {
  border: 2px solid #c8c8c8;
  background-size: 150% 100%;
  background-image: repeating-linear-gradient(
    -45deg,
    #f0f0f0,
    #f0f0f0 25px,
    #c8c8c8 25px,
    #c8c8c8 50px
  );
  @include animation(scroll 2s linear infinite);
}

.reject {
  border: 2px solid #c8c8c8;
  background-size: 150% 100%;
  background-image: repeating-linear-gradient(
    -45deg,
    #fc8785,
    #fc8785 25px,
    #f4231f 25px,
    #f4231f 50px
  );
  @include animation(scroll 2s linear infinite);
}

.snackbar {
  text-align: center;
}

@include keyframes(scroll) {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -75px 0;
  }
}
