@import "../../scss/partials/partials";

$black: #2c2c2c;
$grey: #9fa3a7;
$white: #ffffff;


.container {
  background-color: $black;
  background-size: cover;
  object-fit: contain;
  height: 438px;
  width: 1440px;
  color: $white;
  display: flex;
  left: 0;
  right: 0;
  position: absolute;
}

.projects, .about {
  width: 103px;
  height: 15px;
  list-style-type: none;
  font-size: 15.6px;
  font-weight: bold;
  letter-spacing: 3.1px;
  text-align: left;
}

.link {
  color: $white;
}
.column1, .column2, .column3, .column4 {
  margin-top: 103px;
}

.column1 {
  padding-left: 95px;
}

.nonProfit {
  margin-top:24px;
}
.column2 {
  margin-left: 137px;
  padding-left: 0px;
  text-align: left;
}

.column3 {
  margin-left: 155px;
}
//
//
//
// .followUS {
//   width: 127px;
//   height: 15px;
//   font-family: Gotham;
//   font-family: Gotham;
//   font-size: 15.6px;
//   font-weight: bold;
//   text-align: left;
//   color:
// }

// .popular, .press {
//   margin-top: 32px;
// }
//
// .list {
//   padding-left: 0px;
// }
// .listItems {
//   list-style-type: none;
//   width: 131px;
//   margin-bottom: 28px;
//   object-fit: contain;
//   font-family: Gotham;
//   font-size: 18.2px;
//   text-align: left;
// }
//
// .socialMedia {
//   display: flex;
// }
