@import "../../scss/partials/partials";

$black: #2c2c2c;
$grey: #9fa3a7;
$white: #ffffff;

.container {
  background-color: $black;
  background-size: cover;
  object-fit: contain;
  height: 438px;
  color: $white;
  display: grid;
  grid-template-columns: 1fr .6fr .6fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 5px;
}

.projects, .about {
  width: 103px;
  height: 15px;
  list-style-type: none;
  font-size: 30px;
  font-family: Gotham;
  height: 438px;
  color: $grey;
  display: flex;
  position: absolute;
}

.project, .about {
  width: 103px;
  height: 15px;
  list-style-type: none;
  font-family: Gotham;
  font-size: 15.6px;
  font-weight: bold;
  letter-spacing: 3.1px;
  text-align: left;
}

.link {
  color: $white;
}

.column1, .column2, .column3 {
.column1, .column2, .column3, .column4 {
  margin-top: 103px;
  display: inline-block;
}

.column1 {
  margin-left: 95px;
}

.nonProfit {
  margin-top: 24px;
}

.nonProfit {
  margin-top: 24px;
}

.column2 {
  margin-left: 80px;
  padding-left: 0px;
  text-align: left;
  width: 131px;
}

.column3 {
  width: 131px;
  color: #9fa3a7;
}

.column3 {
  margin-left: 155px;
}

.column4 {
  margin-left: 153px;
}

.logoHome {
  width: 248px;
  height: 90px;
}

.facebook, .twitter, .linkedIn, .pininterest {
    margin-right: 66px;
}

.followUS {
  width: 127px;
  height: 15px;
  font-family: Gotham;
  font-family: Gotham;
  font-size: 15.6px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
}
