@import "../../scss/partials/partials";

$black: #2c2c2c;
$grey: #9fa3a7;
$white: #ffffff;

.container {
  background-color: $black;
  background-size: cover;
  object-fit: contain;
  height: 438px;
  color: $white;
  display: grid;
  grid-template-columns: 1fr .6fr .6fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 5px;
}

.projects, .about {
  width: 103px;
  height: 15px;
  list-style-type: none;
  font-size: 30px;
  font-size: 15.6px;
  font-weight: bold;
  letter-spacing: 3.1px;
  text-align: left;
}

.link {
  color: $white;
}

.column1, .column2, .column3 {
.column1, .column2, .column3, .column4 {
  margin-top: 103px;
  display: inline-block;
}

.column1 {
  margin-left: 95px;
}

.nonProfit {
  margin-top: 24px;
}

.nonProfit {
  margin-top: 24px;
}

.column2 {
  margin-left: 80px;
  padding-left: 0px;
  text-align: left;
  width: 131px;
}

.column3 {
  width: 131px;
}
