@import '../../scss/partials/partials';

.title {
  font-size: 20px;
  margin-bottom: 15px;
}

.orgSection {
  display: block;
  padding: 0 60px;
  margin-top: 30px;
}

.listOrg {
  padding: 20px;
  border: 0;
  border-radius: 5px;
  color: white;
  background-color: $listColor;
  margin-bottom: 15px;
}

.listOrgLoggedIn {
  @extend .listOrg;
}

.listOrgLoggedIn:hover {
  @extend %hover;
  @extend %boxShadowSmall;
}

.projectApplicationItemContainer {
  margin-right: 35px
}


.projectApplicationStatus {
  float:right;
  padding:15px 0 20px 0;
  font-size: 1.5em;
}

.projectApplicationPassed{
  @extend .projectApplicationStatus;
  color:green;
}

.projectApplicationFailed {
  @extend .projectApplicationStatus;
  color:red;
}
