.title {
  font-size: 20px;
  margin-bottom: 15px;
}

.orgSection {
  display: block;
  padding: 0 60px;
  margin-top: 30px;
}

.listOrg    {
  padding: 20px;
  border: 0;
  border-radius: 5px;
  color: white;
  background-color: darkgray;
  margin-bottom: 15px;
}

li:hover{
  box-shadow: 0 6px 4px -2px gray;
  cursor: pointer;
}
