@import '../../scss/partials/partials';

.project {
  background-color: white;
  color: black;
  display: grid;
  grid-template-areas:
    "img content"
    "img causes";
  grid-template-columns: 25% auto;
  grid-template-rows: 70% auto;
  grid-column-gap: 40px;
  padding: 20px 0 20px 40px;
  box-shadow: 0 4px 80px 0 rgba(0, 0, 0, 0.05);
}

.projectAuthenticated,
.projectAuthenticatedContact {
  @extend .project;
}

.projectAuthenticated:hover {
  @extend %hover;
  @extend %boxShadowSmall;
}

.projectContent {
  grid-area: content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.causesContainer {
  grid-area: causes;
}

.cause {
  margin-bottom: 5px;
  margin-right: 5px;
}

.image {
  grid-area: img;
  padding-left: 30px;
}

.projectTitle {
  font-size: 24px;
}

.projectApply {
  margin-right: 15px;
}

.projectApplyPass {
  @extend .projectApply;
  color: green;
}

.projectApplyFail {
  @extend .projectApply;
  color: red;
}

