
/*
* COLOURS
*/

$primaryColor: royalblue;
$primaryColorHover: darkblue;
$listColor: darkgray;
$errorColor: red;
$validInputColor: #3E9B2A;
$inputsBorderColor: #C6CBD4;
$text-red: #EA4C2D;
$backgound-orange: #ED4B2F;
$background-gray: #FBFBFB;
$filterTitleColor: #f5f5f5;
// $fontColor: #4b4c4d;

/*
* RADIUS
*/
$filterTitleRadius: 200px;