@import '../../scss/partials/partials';
@import '../../scss/elements/form';

.form {
  @extend %form;
}

h1 {
  @extend %formTitle;
  grid-column: 1 / 1;
  grid-row: 1;
}

h3 {
  @extend %formTitleSecondary;
  grid-column: 1 / 1;
  grid-row: 2;
}

.inputEmail {
  @extend %fieldText;
  grid-column: 1 / 1;
  grid-row: 3;
}

.buttonSubmit {
  @extend %buttonSubmit;
  grid-column: 1 / 1;
  grid-row: 4;
}
