@import '../../scss/partials/partials';

%field {
  grid-column: 1 / 1;
  font-size: 1rem;
}

%input {
  padding: 10px 5px;
}

%fieldInput {
  @extend %field;
  @extend %input;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-row-gap: 15px;
  padding: 20px 60px;
}

.title {
  grid-column: 1 / 1;
  grid-row: 1;
  font-size: 3rem;
  margin-bottom: 15px;
}

.inputEmail {
  @extend %fieldInput;
  grid-row: 2;
}

.inputPassword {
  @extend %fieldInput;
  grid-row: 3;
}

.buttonSubmit {
  @extend %button;
  @extend %field;
  grid-row: 4;
  padding: 20px;
}

.tick:before{
  content: "\2713 ";
  color: darkgreen;
}

.cross:before{
  content: "\2717 ";
  color: crimson;
}

.show{
  display: block;
}

.hide{
  display: none;
}

.validpopup{
  background-color: #fff;
  width: 70%;
  font-size: .8em;
  padding: 3%;
  grid-area: 4 / 1 / span 4 / 1 ;
  z-index: 1;
  left: 10%;
  position: relative;
  li {
    margin-top: 3%;
  }
  @extend %boxShadowSmall
}

.bold{
  font-weight: bold;
}

.inputPassword ~ span {
  grid-area: 3 / 2 / 3 / 2;
}