@import '../../scss/partials/partials';
@import '../../scss/elements/form';

.form {
  @extend %form;
  grid-template-columns: repeat(2, 1fr);
}

h1 {
  @extend %formTitle;
  grid-column: 1 / 1;
  grid-row: 1;
}

.inputEmail {
  @extend %fieldText;
  grid-column: 1 / 1;
  grid-row: 2;
}

.inputPassword {
  @extend %fieldText;
  grid-column: 1 / 1;
  grid-row: 3;
}

.buttonSubmit {
  @extend %buttonSubmit;
  grid-column: 1 / 1;
  grid-row: 4;
}

.errorContent {
  grid-row: 5;
  grid-column: 1 / 1;
  font-size: 1rem;
  color: $errorColor;
}

.forgotPassword {
  grid-column: 1 / 1;
  grid-row: 6;
  margin: 20px auto;
  text-align: center;
  color: $primaryColor;

  &:hover {
    color: $primaryColorHover;
  }
}

.tick:before{
  content: "\2713 ";
  color: darkgreen;
}

.cross:before{
  content: "\2717 ";
  color: crimson;
}

.show{
  display: block;
}

.hide{
  display: none;
}

.validpopup{
  background-color: #fff;
  width: 70%;
  font-size: .8em;
  padding: 3%;
  grid-area: 4 / 1 / span 4 / 1 ;
  z-index: 1;
  left: 10%;
  position: relative;
  li {
    margin-top: 3%;
  }
  @extend %boxShadowSmall
}

.bold{
  font-weight: bold;
}

.inputPassword ~ span {
  grid-area: 3 / 2 / 3 / 2;
}