@import '../../scss/partials/partials';
@import '../../scss/elements/form';

.form {
  @extend %form;
}

h1 {
  @extend %formTitle;
  grid-column: 1 / 1;
  grid-row: 1;
}

.inputEmail {
  @extend %fieldText;
  grid-column: 1 / 1;
  grid-row: 2;
}

.inputPassword {
  @extend %fieldText;
  grid-column: 1 / 1;
  grid-row: 3;
}

.buttonSubmit {
  @extend %buttonSubmit;
  grid-column: 1 / 1;
  grid-row: 4;
}

.buttonError {
  @extend %button;
  background-color: $errorBtnColor;
  padding: 20px;
  grid-column: 1 / 1;
  grid-row: 4;
}

.errorContent {
  grid-row: 5;
  grid-column: 1 / 1;
  font-size: 1rem;
  color: $errorColor;
}

.forgotPassword {
  grid-column: 1 / 1;
  grid-row: 6;
  margin: 20px auto;
  text-align: center;
  color: $primaryColor;

  &:hover {
    color: $primaryColorHover;
  }
}
