.header {
  /* text-align: right; */
  padding: 0 60px;
  margin-top: 20px;
  display: grid;
}

.button {
  padding: 10px;
  border: 0;
  background-color: royalblue;
  color: white;
  font-size: 100%;
  border-radius: 5px;
  margin-left: 10px;
  float: right;
}

img {
  height: 42px;
  vertical-align: middle;
  float: left;
}

.clearfix {
  clear: both;
}