@import '../../scss/partials/partials';

.header {
  padding: 10px 60px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    top: 64px;
    left: 0;
    height: 2px;
    background: #F9F9F9;
  }
}

.button {
  padding: 10px;
  margin-left: 10px;
  color: dimgray;

  &:active {
    color: royalblue;
  }
}

.buttons {
  text-align: right;
  align-self: center;
}

.logo {
  height: 42px;
  align-self: center;
}
