.header {
  padding: 0 60px;
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.button {
  composes: button from '../_shared/button.css';
  padding: 10px;
  margin-left: 10px;
}

.buttons {
  text-align: right;
}

.logo {
  height: 42px;
}
