.header {
  padding: 0 60px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.button {
  padding: 10px;
  border: 0;
  background-color: royalblue;
  color: white;
  font-size: 100%;
  border-radius: 5px;
  margin-left: 10px;
}
.buttons {
  text-align: right;
}

img {
  height: 42px;
}