.header {
  text-align: right;
  padding: 0 60px;
  margin-top: 20px;
}

.button {
  padding: 10px;
  border: 0;
  background-color: royalblue;
  color: white;
  font-size: 100%;
  border-radius: 5px;
}

.button:first-child {
  margin-right: 10px;
}
