@import '../../scss/partials/partials';

.projectListSection {
  padding: 0 60px;
  display: grid;
}

.listContainer {
  width: 100% !important;
  display: flex !important;
  flex-wrap: wrap !important;
}

.list {
  width: 100% !important;
}

.projectTile {
    margin-bottom: 20px;
}

.causesContainer {
  display: inline-flex;
  width: 100%;
  overflow-x: scroll;
}

.cause {
  margin-bottom: 70px;
  margin-right: 5px;
}

.projectTile {
  display: flex;
}
