@import '../../scss/partials/partials';

.projectListSection {
  padding: 0 60px;
  margin-top: 30px;
}

.title {
  font-size: 20px;
  margin-bottom: 15px;
}

.listContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.list {
  width: 100%;
}
