@import '../../scss/partials/partials';

.projectListSection {
  padding: 0 60px;
  width: 93%;
  display: grid;
}

.listContainer {
  width: 100% !important;
  display: flex !important;
  flex-wrap: wrap !important;
}

.list {
  width: 100% !important;
}

.projectTile {
    margin-bottom: 15px;
    display: grid;
}