@import '../../scss/partials/partials';

.homeContainer {
	display: block;
	position: absolute;
	bottom: 0;
	top: 128px;
	left: 0;
	right: 0;
	margin: 0;
	height: 100vh;
	width: 100vw;
}

.homeGrid {
	background-color: $background-gray;
	display: grid;
	width: auto;
	height: auto;
	padding: 0 40px 0 40px;
	grid-template-columns: 360px 975px;
	grid-template-areas:
		"title title"
		"filterSection projectList";
}

.title {
	grid-area: title;
	font-size: 20px;
	margin: 0 0 0 -50px;
	padding: 15px 15px 15px 80px;
	color: white;
	width: 94vw;
	background-color: $backgound-orange;
}

.projectList {
	grid-area: projectList;
	display: grid;
	padding: 10px 30px 0 0;
	height: auto;
}

.filterSection {
	padding: 0 30px 10px;
	grid-area: filterSection;
	box-shadow: 0 4px 80px 0 rgba(0, 0, 0, 0.1);
	display: grid;
	grid-template-rows: 60px 30px auto 30px auto;
	grid-template-columns: 300px;
	grid-template-areas:
		"filterTitle"
		"causeTitle"
		"causes"
		"techTitle"
		"technologies";
	grid-row-gap: 10px;
	height: 800px;
}

.filterTitle {
	grid-area: filterTitle;
}

.causeTitle {
	grid-area: causeTitle;
	border-radius: $filterTitleRadius;
	color: $listColor;
	font-weight: bold;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $filterTitleColor;
}

.techTitle {
	grid-area: techTitle;
	border-radius: $filterTitleRadius;
	color: $listColor;
	font-weight: bold;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $filterTitleColor;
}

.causesList {
	grid-area: causes;
}

.techList {
	grid-area: technologies;
}

.checkBoxes {
	margin-top: -2px;
}
