.form {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  grid-row-gap: 15px;
  padding: 100px 60px;
}

.title {
  grid-column: 1 / 1;
  grid-row: 1;
  font-size: 3rem;
  margin-bottom: 15px;
}

.field {
  grid-column: 1 / 1;
  font-size: 1rem;
}

.input {
  padding: 10px 5px;
}

.inputEmail {
  composes: field input;
  grid-row: 2;
}

.inputPassword {
  composes: field input;
  grid-row: 3;
}

.buttonSubmit {
  composes: field;
  grid-row: 4;
  padding: 20px;
  border: 0;
  border-radius: 5px;
  color: white;
  background-color: royalblue;
}
