@import "../../scss/partials/button";

.form {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  grid-row-gap: 15px;
  padding: 20px 60px;
}

.title {
  grid-column: 1 / 1;
  grid-row: 1;
  font-size: 3rem;
  margin-bottom: 15px;
}

.field {
  grid-column: 1 / 1;
  font-size: 1rem;
}

.input {
  padding: 10px 5px;
}

.fieldInput {
  @extend .field;
  @extend .input;
}

.inputEmail {
  @extend .fieldInput;
  grid-row: 2;
}

.inputPassword {
  @extend .fieldInput;
  grid-row: 3;
}

.buttonSubmit {
  @extend %button;
  @extend .field;
  grid-row: 4;
  padding: 20px;
}
