@import '../../scss/partials/partials';
@import '../../scss/elements/form';

.form {
  @extend %form;
}

.h1 {
  grid-column: 1 / 1;
  grid-row: 1;
}

.h3 {
  grid-column: 1 / 1;
  grid-row: 2;
}

.inputEmail {
  @extend %fieldText;
  grid-column: 1 / 1;
  grid-row: 3;
  border-bottom: 1px solid $inputsBorderColor;
}

.buttonSubmit {
  @extend %buttonSubmit;
  grid-column: 1 / 1;
  grid-row: 4;
}
.errorContent {
  text-align: center;
  color: $errorColor;
}

.inputPassword {
  @extend %fieldText;
  width: 100%;
  border-bottom: 1px solid $inputsBorderColor;
}

.inputPasswordContainer {
  position: relative;
  grid-column: 1 / 1;
  grid-row: 3;
  overflow-x: hidden;
}
