// @extend %x; to inherit properties from %x

%button {
  color: white;
  font-size: 100%;
  border: 0;
  border-radius: 5px;
}

%buttonSub {
  @extend %button;
  background-color: $primaryColor;
}

%buttonErr {
  @extend %button;
  background-color: $errorBtnColor;
}

%button:hover {
  @extend %hover;
  background-color: $primaryColorHover;
}
